<!DOCTYPE html>
<html>


<div class="justify-content-center">
    <div class="shadow w-100 bg-white rounded">
<form class="createGroupForm" [formGroup]="groupForm" (ngSubmit)="bindModel()" style="padding: 12px;">
    <fieldset>
        <div class="form-control">
            <label>Group Name</label>
            <input type="text" class="form-control" formControlName="groupName">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="form-control">
                    <label>Group Description</label>
                    <input type="text" class="form-control" formControlName="description">
                </div>
   
                <div class="form-control">
                    <label>Group Interests</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="interests">
                            <input type="button" class="btn" value="Add" (click)="addInterest()" style="background-color: #FCB414;">
                        </div>
                </div>
            </div> 
            <div class="col-lg-4">
                <div *ngFor="let str of interestArray">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action" (click)="removeInterestOnClick(str)">
                            <h4>{{str}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doesStuff" *ngIf="interestArray.length > 0">
                <input type="submit" class="btn createGroupSubmit" style="background-color: #F26925;">
            </div>
        </div>

    </fieldset>
</form>
</div>
</div>


<br/><br/><br/><br/>

<!--</body>-->
</html>
