
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand">&emsp;Group Hub | </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex justify-content-center">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="emitShowGroup()">My Groups</button>
        <button type="button" class="btn btn-secondary" (click)="emitJoinGroup()">Joinable</button>
        <button data-toggle="collapse" data-target="createGroup" type="button" class="btn btn-secondary" (click)="emitCreateGroup()">Create</button>
      </div>
    </div>
    <div class="searchField" style="float: right; padding: 10px">
      <input type="text" placeholder="Enter Interest" [(ngModel)]="searchPara">
      <input type="button" class="btn btn-dark" value="Search" (click)="searchByInterest()">
    </div>
  </nav>
