<!DOCTYPE html>
<html>
    <app-hub-navbar></app-hub-navbar>
<body>
    <div class="container-fluid">
            <h1 >{{statusMsg}}</h1>
            <form class="viewGroupsForm" >
                <ol> 
                    <div class="list-group" *ngFor="let group of groups; let i = index;">
                    <li class="d-flex justify-content-center">
                        <div class="shadow w-50 p-3 mb-5 bg-white rounded ">
    
                            <div class="d-flex w-100 justify-content-between">
    
                                <h5 class="mb-1">
                                    <strong>Group Name</strong><br/>
                                    {{group.groupName}}
                                </h5>
                                <small>
                                    <strong>Interests</strong><br/>
                                    {{group.interests}}
                                </small>
    
    
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <h6><strong>Description</strong></h6>
                                    <h4 class="lead">{{group.description}}</h4>
                                </div>
                            </div>
    
    
                            <div class="ml-1 d-flex w-100 justify-content-center">
                                <input type="submit" class="btn btn-dark" (click)="openGroup(i)" value="View">
                            </div>
                            
                        </div>
                    </li>
                </div>
                </ol>
            </form>
        </div>
</body>
</html>


  
