.nav-link:hover {
    background-color: #F26925;
    border-radius: 5px;
    color: white !important;
}

.dropdown-toggle:hover {
    background-color: #F26925;
    border-radius: 5px;
}

.fullContents {
    background-color: #FFFFFF;
}

.dm-btn{
    width: 50px;
    height: 30px;
}