<!DOCTYPE html>
<html>

<!-- Lol this is so gross -->
<app-hub-navbar 
    (searchQuery)="searchByInterest($event)" 
    (showCreate)="toggle($event)" 
    (showGroups)="displayMyGroups($event)" 
    (showJoinable)="displayJoinableGroups($event)">
</app-hub-navbar>

<body>
    
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h3>{{statusMsg}}</h3><br/>
        <div class="btn-group" role="group" aria-label="Basic example" hidden>
            <button type="button" class="btn btn-secondary">My Groups</button>
            <button type="button" class="btn btn-secondary">Joinable</button>
            <button data-toggle="collapse" data-target="createGroup" [attr.data-bs-target]="'#createGroup'" type="button" class="btn btn-secondary">Create</button>
          </div>
        
          <div class="collapse" [id]="'createGroup'" [ngClass]="collapseString">
            <app-create-group (closeFlag)="toggle($event)"></app-create-group>
          </div>
        </div>
        <form class="viewGroupsForm" >
            <ol> 
                <div class="list-group" *ngFor="let group of groups; let i = index;">
                <li class="d-flex justify-content-center">
                    <div class="shadow w-50 p-3 mb-5 bg-white rounded ">

                        <div class="d-flex w-100 justify-content-between">

                            <h5 class="mb-1">
                                <strong>Group Name</strong><br/>
                                {{group.groupName}}
                            </h5>
                            <small>
                                <strong>Interests</strong><br/>
                                {{group.interests}}
                            </small>


                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <h6><strong>Description</strong></h6>
                                <h4 class="lead">{{group.description}}</h4>
                            </div>
                        </div>


                        <div class="ml-1 d-flex w-100 justify-content-center">
                            <input type="submit" class="btn btn-dark" (click)="openGroup(i)" value="View Group">
                        </div>
                        <!--<div class="d-flex w-100 justify-content-center" *ngIf="group.owner.userId == loginService.getLoginInfo().user.userId" >
                            <input type="submit" class="btn btn-danger btn-sm" (click)="openGroup(i)" value="Manage Group">
                        </div>-->
                        
                    </div>
                </li>
            </div>
            </ol>
        </form>
    </div>
    <!-- <app-group-chat></app-group-chat> -->
</body>
</html>


  
